DingDingv2.0/dingdingsuccess/dingdingsuccess/Connected Services/KmsServiceReference/Service51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Entity" />
  <xs:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" />
  <xs:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CancelCard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Entity" minOccurs="0" name="CancelCardResult" nillable="true" type="q1:ArrayOfCalendarInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScheduleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenLockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccessTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DingDingMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="model" nillable="true" type="q2:DingMessageModel" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="link" nillable="true" type="q3:Link" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DingDingMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApproveTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="sendApproveModel" nillable="true" type="q4:SendApproveModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApproveTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="SendApproveTaskResult" nillable="true" type="q5:SendApproveRe_valueModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start_time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end_time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApproveIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processInstance" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="GetApproveContentResult" nillable="true" type="q6:ApproveContentTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="GetDingIDResult" nillable="true" type="q7:UserCodeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeptIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeMeetingEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeMeetingEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService.Entity" minOccurs="0" name="BeforeMeetingEndResult" nillable="true" type="q8:ArrayOfCalendarInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeMeetingStart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeMeetingStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService.Entity" minOccurs="0" name="BeforeMeetingStartResult" nillable="true" type="q9:ArrayOfCalendarInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushAllRoom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushAllRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService.Entity" minOccurs="0" name="PushAllRoomResult" nillable="true" type="q10:ArrayOfRoomInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalendarDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalendarDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService.Entity" minOccurs="0" name="CalendarDateResult" nillable="true" type="q11:CalendarInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectGroupIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CalendarID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="SelectCalendarInfoResult" nillable="true" type="q12:SelectCalendarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReturnTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReturnTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService.Entity" minOccurs="0" name="calendarInfo" nillable="true" type="q13:CalendarInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCalendarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreeRequestInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="model" nillable="true" type="q14:AgreeRequestModel" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" minOccurs="0" name="agreeRequest" nillable="true" type="q15:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreeRequestInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgreeRequestInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushRoomName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="participants" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushRoomNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushRoomNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApproveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnKeyLate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnKeyLateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DynamicReturnKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynamicReturnKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllBasicData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllBasicDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService.Entity" minOccurs="0" name="SelectAllBasicDataResult" nillable="true" type="q16:BasicDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeekRoomName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dingDingID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeekRoomNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeekRoomNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeekUseTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dingDingID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeekUseTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeekUseTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeekUseCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dingDingID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeekUseCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeekUseCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllDingDingID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllDingDingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllDingDingIDResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>