DingDingv2.0/dingdingsuccess/dingdingsuccess/Connected Services/KmsServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAllusersEntitiesItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllusersEntitiesItem" nillable="true" type="tns:AllusersEntitiesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllusersEntitiesItem" nillable="true" type="tns:ArrayOfAllusersEntitiesItem" />
  <xs:complexType name="AllusersEntitiesItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSelect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllusersEntitiesItem" nillable="true" type="tns:AllusersEntitiesItem" />
</xs:schema>