DingDingv2.0/dingdingsuccess/dingdingsuccess/Connected Services/KmsServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Entity" />
      <xsd:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService.DingDingModel" />
      <xsd:import schemaLocation="http://192.168.50.207:82/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CancelCard_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCard" />
  </wsdl:message>
  <wsdl:message name="IService_CancelCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCardResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateIsStart_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsStart" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateIsStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsStartResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateIsEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsEnd" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateIsEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsEndResponse" />
  </wsdl:message>
  <wsdl:message name="IService_OpenLock_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenLock" />
  </wsdl:message>
  <wsdl:message name="IService_OpenLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenLockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAccessToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessToken" />
  </wsdl:message>
  <wsdl:message name="IService_GetAccessToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DingDingMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:DingDingMessage" />
  </wsdl:message>
  <wsdl:message name="IService_DingDingMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DingDingMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendApproveTask_InputMessage">
    <wsdl:part name="parameters" element="tns:SendApproveTask" />
  </wsdl:message>
  <wsdl:message name="IService_SendApproveTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendApproveTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetApproveID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApproveID" />
  </wsdl:message>
  <wsdl:message name="IService_GetApproveID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApproveIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetApproveContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApproveContent" />
  </wsdl:message>
  <wsdl:message name="IService_GetApproveContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApproveContentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDingID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDingID" />
  </wsdl:message>
  <wsdl:message name="IService_GetDingID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDingIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDeptID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptID" />
  </wsdl:message>
  <wsdl:message name="IService_GetDeptID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BeforeMeetingEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:BeforeMeetingEnd" />
  </wsdl:message>
  <wsdl:message name="IService_BeforeMeetingEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeforeMeetingEndResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BeforeMeetingStart_InputMessage">
    <wsdl:part name="parameters" element="tns:BeforeMeetingStart" />
  </wsdl:message>
  <wsdl:message name="IService_BeforeMeetingStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeforeMeetingStartResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PushAllRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:PushAllRoom" />
  </wsdl:message>
  <wsdl:message name="IService_PushAllRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushAllRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalendarDate_InputMessage">
    <wsdl:part name="parameters" element="tns:CalendarDate" />
  </wsdl:message>
  <wsdl:message name="IService_CalendarDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalendarDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessageUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageUser" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessageUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SelectGroupID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectGroupID" />
  </wsdl:message>
  <wsdl:message name="IService_SelectGroupID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnKey_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnKey" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SelectCalendarInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCalendarInfo" />
  </wsdl:message>
  <wsdl:message name="IService_SelectCalendarInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCalendarInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Open_InputMessage">
    <wsdl:part name="parameters" element="tns:Open" />
  </wsdl:message>
  <wsdl:message name="IService_Open_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateReturnTime_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReturnTime" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateReturnTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReturnTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCalendar" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgreeRequestInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AgreeRequestInfo" />
  </wsdl:message>
  <wsdl:message name="IService_AgreeRequestInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgreeRequestInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PushRoomName_InputMessage">
    <wsdl:part name="parameters" element="tns:PushRoomName" />
  </wsdl:message>
  <wsdl:message name="IService_PushRoomName_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushRoomNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendApprove_InputMessage">
    <wsdl:part name="parameters" element="tns:SendApprove" />
  </wsdl:message>
  <wsdl:message name="IService_SendApprove_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendApproveResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnKeyLate_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnKeyLate" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnKeyLate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnKeyLateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DynamicReturnKey_InputMessage">
    <wsdl:part name="parameters" element="tns:DynamicReturnKey" />
  </wsdl:message>
  <wsdl:message name="IService_DynamicReturnKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:DynamicReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SelectAllBasicData_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllBasicData" />
  </wsdl:message>
  <wsdl:message name="IService_SelectAllBasicData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllBasicDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WeekRoomName_InputMessage">
    <wsdl:part name="parameters" element="tns:WeekRoomName" />
  </wsdl:message>
  <wsdl:message name="IService_WeekRoomName_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeekRoomNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WeekUseTime_InputMessage">
    <wsdl:part name="parameters" element="tns:WeekUseTime" />
  </wsdl:message>
  <wsdl:message name="IService_WeekUseTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeekUseTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WeekUseCount_InputMessage">
    <wsdl:part name="parameters" element="tns:WeekUseCount" />
  </wsdl:message>
  <wsdl:message name="IService_WeekUseCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeekUseCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AllDingDingID_InputMessage">
    <wsdl:part name="parameters" element="tns:AllDingDingID" />
  </wsdl:message>
  <wsdl:message name="IService_AllDingDingID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllDingDingIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CancelCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CancelCard" message="tns:IService_CancelCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CancelCardResponse" message="tns:IService_CancelCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateIsStart" message="tns:IService_UpdateIsStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateIsStartResponse" message="tns:IService_UpdateIsStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsEnd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateIsEnd" message="tns:IService_UpdateIsEnd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateIsEndResponse" message="tns:IService_UpdateIsEnd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/OpenLock" message="tns:IService_OpenLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OpenLockResponse" message="tns:IService_OpenLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAccessToken" message="tns:IService_GetAccessToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAccessTokenResponse" message="tns:IService_GetAccessToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DingDingMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DingDingMessage" message="tns:IService_DingDingMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DingDingMessageResponse" message="tns:IService_DingDingMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendApproveTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendApproveTask" message="tns:IService_SendApproveTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendApproveTaskResponse" message="tns:IService_SendApproveTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApproveID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetApproveID" message="tns:IService_GetApproveID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetApproveIDResponse" message="tns:IService_GetApproveID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApproveContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetApproveContent" message="tns:IService_GetApproveContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetApproveContentResponse" message="tns:IService_GetApproveContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDingID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDingID" message="tns:IService_GetDingID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDingIDResponse" message="tns:IService_GetDingID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDeptID" message="tns:IService_GetDeptID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDeptIDResponse" message="tns:IService_GetDeptID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeforeMeetingEnd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BeforeMeetingEnd" message="tns:IService_BeforeMeetingEnd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BeforeMeetingEndResponse" message="tns:IService_BeforeMeetingEnd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeforeMeetingStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BeforeMeetingStart" message="tns:IService_BeforeMeetingStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BeforeMeetingStartResponse" message="tns:IService_BeforeMeetingStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushAllRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PushAllRoom" message="tns:IService_PushAllRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PushAllRoomResponse" message="tns:IService_PushAllRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalendarDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalendarDate" message="tns:IService_CalendarDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalendarDateResponse" message="tns:IService_CalendarDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMessageUser" message="tns:IService_SendMessageUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendMessageUserResponse" message="tns:IService_SendMessageUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectGroupID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectGroupID" message="tns:IService_SelectGroupID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectGroupIDResponse" message="tns:IService_SelectGroupID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnKey" message="tns:IService_ReturnKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnKeyResponse" message="tns:IService_ReturnKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCalendarInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectCalendarInfo" message="tns:IService_SelectCalendarInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectCalendarInfoResponse" message="tns:IService_SelectCalendarInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Open">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Open" message="tns:IService_Open_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OpenResponse" message="tns:IService_Open_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReturnTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateReturnTime" message="tns:IService_UpdateReturnTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateReturnTimeResponse" message="tns:IService_UpdateReturnTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertCalendar" message="tns:IService_InsertCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertCalendarResponse" message="tns:IService_InsertCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgreeRequestInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgreeRequestInfo" message="tns:IService_AgreeRequestInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgreeRequestInfoResponse" message="tns:IService_AgreeRequestInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushRoomName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PushRoomName" message="tns:IService_PushRoomName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PushRoomNameResponse" message="tns:IService_PushRoomName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendApprove">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendApprove" message="tns:IService_SendApprove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendApproveResponse" message="tns:IService_SendApprove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnKeyLate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnKeyLate" message="tns:IService_ReturnKeyLate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnKeyLateResponse" message="tns:IService_ReturnKeyLate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DynamicReturnKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DynamicReturnKey" message="tns:IService_DynamicReturnKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DynamicReturnKeyResponse" message="tns:IService_DynamicReturnKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllBasicData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectAllBasicData" message="tns:IService_SelectAllBasicData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectAllBasicDataResponse" message="tns:IService_SelectAllBasicData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WeekRoomName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WeekRoomName" message="tns:IService_WeekRoomName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WeekRoomNameResponse" message="tns:IService_WeekRoomName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WeekUseTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WeekUseTime" message="tns:IService_WeekUseTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WeekUseTimeResponse" message="tns:IService_WeekUseTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WeekUseCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WeekUseCount" message="tns:IService_WeekUseCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WeekUseCountResponse" message="tns:IService_WeekUseCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllDingDingID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AllDingDingID" message="tns:IService_AllDingDingID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AllDingDingIDResponse" message="tns:IService_AllDingDingID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelCard">
      <soap:operation soapAction="http://tempuri.org/IService/CancelCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsStart">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateIsStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsEnd">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateIsEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenLock">
      <soap:operation soapAction="http://tempuri.org/IService/OpenLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessToken">
      <soap:operation soapAction="http://tempuri.org/IService/GetAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DingDingMessage">
      <soap:operation soapAction="http://tempuri.org/IService/DingDingMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendApproveTask">
      <soap:operation soapAction="http://tempuri.org/IService/SendApproveTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApproveID">
      <soap:operation soapAction="http://tempuri.org/IService/GetApproveID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApproveContent">
      <soap:operation soapAction="http://tempuri.org/IService/GetApproveContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDingID">
      <soap:operation soapAction="http://tempuri.org/IService/GetDingID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptID">
      <soap:operation soapAction="http://tempuri.org/IService/GetDeptID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeforeMeetingEnd">
      <soap:operation soapAction="http://tempuri.org/IService/BeforeMeetingEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeforeMeetingStart">
      <soap:operation soapAction="http://tempuri.org/IService/BeforeMeetingStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushAllRoom">
      <soap:operation soapAction="http://tempuri.org/IService/PushAllRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalendarDate">
      <soap:operation soapAction="http://tempuri.org/IService/CalendarDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageUser">
      <soap:operation soapAction="http://tempuri.org/IService/SendMessageUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectGroupID">
      <soap:operation soapAction="http://tempuri.org/IService/SelectGroupID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnKey">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCalendarInfo">
      <soap:operation soapAction="http://tempuri.org/IService/SelectCalendarInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Open">
      <soap:operation soapAction="http://tempuri.org/IService/Open" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReturnTime">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateReturnTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCalendar">
      <soap:operation soapAction="http://tempuri.org/IService/InsertCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgreeRequestInfo">
      <soap:operation soapAction="http://tempuri.org/IService/AgreeRequestInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushRoomName">
      <soap:operation soapAction="http://tempuri.org/IService/PushRoomName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendApprove">
      <soap:operation soapAction="http://tempuri.org/IService/SendApprove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnKeyLate">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnKeyLate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DynamicReturnKey">
      <soap:operation soapAction="http://tempuri.org/IService/DynamicReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllBasicData">
      <soap:operation soapAction="http://tempuri.org/IService/SelectAllBasicData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeekRoomName">
      <soap:operation soapAction="http://tempuri.org/IService/WeekRoomName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeekUseTime">
      <soap:operation soapAction="http://tempuri.org/IService/WeekUseTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeekUseCount">
      <soap:operation soapAction="http://tempuri.org/IService/WeekUseCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllDingDingID">
      <soap:operation soapAction="http://tempuri.org/IService/AllDingDingID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://192.168.50.207:82/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>