DingDingv2.0/dingdingsuccess/dingdingsuccess/Connected Services/KmsServiceReference/Service521.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KmsService.DingDingModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KmsService.DingDingModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.60.140:82/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DingMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="chatid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="tns:Link" />
      <xs:element minOccurs="0" name="msgtype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DingMessageModel" nillable="true" type="tns:DingMessageModel" />
  <xs:complexType name="Link">
    <xs:sequence>
      <xs:element minOccurs="0" name="messageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="picUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Link" nillable="true" type="tns:Link" />
  <xs:complexType name="SendApproveModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="agent_id" type="xs:int" />
      <xs:element minOccurs="0" name="approvers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cc_list" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cc_position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dept_id" type="xs:int" />
      <xs:element minOccurs="0" name="form_component_values" nillable="true" type="tns:ArrayOfForm_Component_Values" />
      <xs:element minOccurs="0" name="originator_user_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="process_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendApproveModel" nillable="true" type="tns:SendApproveModel" />
  <xs:complexType name="ArrayOfForm_Component_Values">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Form_Component_Values" nillable="true" type="tns:Form_Component_Values" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForm_Component_Values" nillable="true" type="tns:ArrayOfForm_Component_Values" />
  <xs:complexType name="Form_Component_Values">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Form_Component_Values" nillable="true" type="tns:Form_Component_Values" />
  <xs:complexType name="SendApproveRe_valueModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="errcode" type="xs:int" />
      <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="process_instance_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="request_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendApproveRe_valueModel" nillable="true" type="tns:SendApproveRe_valueModel" />
  <xs:complexType name="ApproveContentTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="errcode" type="xs:int" />
      <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="process_instance" nillable="true" type="tns:ApproveContentTask.Process_Instance" />
      <xs:element minOccurs="0" name="request_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveContentTask" nillable="true" type="tns:ApproveContentTask" />
  <xs:complexType name="ApproveContentTask.Process_Instance">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="approver_userids" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attached_process_instance_ids" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="biz_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="business_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="finish_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="form_component_values" nillable="true" type="tns:ArrayOfApproveContentTask.Form1_Component_Values" />
      <xs:element minOccurs="0" name="operation_records" nillable="true" type="tns:ArrayOfApproveContentTask.Operation_Records" />
      <xs:element minOccurs="0" name="originator_dept_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="originator_dept_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="originator_userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tasks" nillable="true" type="tns:ArrayOfApproveContentTask.Task" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveContentTask.Process_Instance" nillable="true" type="tns:ApproveContentTask.Process_Instance" />
  <xs:complexType name="ArrayOfApproveContentTask.Form1_Component_Values">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveContentTask.Form1_Component_Values" nillable="true" type="tns:ApproveContentTask.Form1_Component_Values" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveContentTask.Form1_Component_Values" nillable="true" type="tns:ArrayOfApproveContentTask.Form1_Component_Values" />
  <xs:complexType name="ApproveContentTask.Form1_Component_Values">
    <xs:sequence>
      <xs:element minOccurs="0" name="component_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ext_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveContentTask.Form1_Component_Values" nillable="true" type="tns:ApproveContentTask.Form1_Component_Values" />
  <xs:complexType name="ArrayOfApproveContentTask.Operation_Records">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveContentTask.Operation_Records" nillable="true" type="tns:ApproveContentTask.Operation_Records" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveContentTask.Operation_Records" nillable="true" type="tns:ArrayOfApproveContentTask.Operation_Records" />
  <xs:complexType name="ApproveContentTask.Operation_Records">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operation_result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operation_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveContentTask.Operation_Records" nillable="true" type="tns:ApproveContentTask.Operation_Records" />
  <xs:complexType name="ArrayOfApproveContentTask.Task">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveContentTask.Task" nillable="true" type="tns:ApproveContentTask.Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveContentTask.Task" nillable="true" type="tns:ArrayOfApproveContentTask.Task" />
  <xs:complexType name="ApproveContentTask.Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="activity_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="finish_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="task_result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="task_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taskid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveContentTask.Task" nillable="true" type="tns:ApproveContentTask.Task" />
  <xs:complexType name="UserCodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DingID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCodeModel" nillable="true" type="tns:UserCodeModel" />
  <xs:complexType name="SelectCalendarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="attendees" nillable="true" type="tns:ArrayOfAttendee" />
      <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="end" nillable="true" type="tns:End" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
      <xs:element minOccurs="0" name="location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="onlineMeetingInfo" nillable="true" type="tns:Onlinemeetinginfo" />
      <xs:element minOccurs="0" name="organizer" nillable="true" type="tns:Organizer" />
      <xs:element minOccurs="0" name="recurrence" nillable="true" type="tns:Recurrence" />
      <xs:element minOccurs="0" name="seriesMasterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="start" nillable="true" type="tns:Start" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectCalendarModel" nillable="true" type="tns:SelectCalendarModel" />
  <xs:complexType name="ArrayOfAttendee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendee" nillable="true" type="tns:Attendee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendee" nillable="true" type="tns:ArrayOfAttendee" />
  <xs:complexType name="Attendee">
    <xs:sequence>
      <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="self" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attendee" nillable="true" type="tns:Attendee" />
  <xs:complexType name="End">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="End" nillable="true" type="tns:End" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Onlinemeetinginfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="conferenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Onlinemeetinginfo" nillable="true" type="tns:Onlinemeetinginfo" />
  <xs:complexType name="Organizer">
    <xs:sequence>
      <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="self" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organizer" nillable="true" type="tns:Organizer" />
  <xs:complexType name="Recurrence">
    <xs:sequence>
      <xs:element minOccurs="0" name="pattern" nillable="true" type="tns:Pattern" />
      <xs:element minOccurs="0" name="range" nillable="true" type="tns:Range" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recurrence" nillable="true" type="tns:Recurrence" />
  <xs:complexType name="Pattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="dayOfMonth" type="xs:int" />
      <xs:element minOccurs="0" name="daysOfWeek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="interval" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pattern" nillable="true" type="tns:Pattern" />
  <xs:complexType name="Range">
    <xs:sequence>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="numberOfOccurrences" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Range" nillable="true" type="tns:Range" />
  <xs:complexType name="Start">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Start" nillable="true" type="tns:Start" />
  <xs:complexType name="AgreeRequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" nillable="true" type="tns:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgreeRequestModel" nillable="true" type="tns:AgreeRequestModel" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="actioner_userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="process_instance_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="task_id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ApproveInstanceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createTime" type="xs:long" />
      <xs:element minOccurs="0" name="finishTime" type="xs:long" />
      <xs:element minOccurs="0" name="processCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="processInstanceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="staffId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveInstanceModel" nillable="true" type="tns:ApproveInstanceModel" />
</xs:schema>